<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


        <a class="navbar-item" href="#">
            To-Do List
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Contato
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <a href="https://www.linkedin.com/in/alliquison-matias">Linkedin</a>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        <a href="mailto:allyquison.matias@gmail.com">E-mail</a>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        <a href="https://github.com/Ally-Matias">Github</a>
                    </a>
                </div>

            </div>
        </div>
    </div>
    </div>
</nav>